.member-block
    width: 100%

    &:not(:last-child)
        margin-bottom: $content-block-margin-bottom

    @media(min-width: $widescreen)
        display: flex
        &:nth-of-type(even)
            flex-direction: row-reverse

    .member-block-details
        padding: $box-padding
        color: $text
        background-color: $background

        p
            font-size: $size-6

    .cover-thumbnail
        margin-bottom: 0
        display: block
        min-height: 200px

        @media(min-width: $widescreen)
            width: 35%

        figure
            height: 100%
            overflow: hidden

            img
                height: 100%
                width: 100%
                object-fit: cover
                transition: 0.3s ease all

    &:is(a):hover
        .cover-thumbnail
            figure
                img
                    transform: scale(1.05)
