{% extends 'profile/base.html.twig' %}

{% set active_tab = 'kast' %}

{% block tab_content %}
<article>
    <h2 class="title is-4">{{ __('Consumptions in K.A.S.T.') }}</h2>
    <p>{{ __('Our apologies, we can’t fetch your K.A.S.T. purchase history at this moment.') }}</p>
</article>
{% endblock %}
