<figure class="image is-16by9 video">
    <video class="has-ratio" src="{{ url }}" poster="{{ thumbnail|default('') }}" controls>
        <a href="{{ url }}" target="_blank" rel="noopener noreferrer nofollow">
            {{ __('Watch video') }}
        </a>
    </video>
</figure>
