{% extends '@theme/homepage/_card.twig' %}
    
{% import "@theme/polls/macros.twig" as poll %}

{% block title __('Poll') %}

{% block name 'poll' %}

{% block content %}

{% set current_poll = global.models.Poll.get_current() %}
<div id="poll-widget-homepage" class="poll">
    {% if current_poll %}
        {{ poll.render_poll_widget(current_poll, true, true, global.server.REQUEST_URI ~ '#poll-widget-homepage') }}
    {% else %}
        <p>{{ __('There is no poll at the moment') }}</p>
    {% endif %}
</div>
{% endblock %}
