<form class="navbar-item search-form" action="{{ path('search') }}" method="get">
    <div class="field has-addons">
        <div class="control is-expanded">
            <input
                class="input"
                type="search"
                id="menu-search-query"
                name="query"
                aria-label="{{ __('Search query') }}"
                placeholder="{{ __('Type here to search…') }}"
                accesskey="s"
            >
        </div>
        <div class="control">
            <button class="button" type="submit">
                <span class="icon">
                    <i class="fas fa-search"></i>
                    <span class="is-sr-only">{{ __('Search') }}</span>
                </span>
            </button>
        </div>
    </div>
</form>
