{% extends '@layout/layout.html.twig' %}

{% set secretary = model('Commissie').get_lid_for_functie(constant('COMMISSIE_BESTUUR'), 'secretary') %}

{% block content %}
<h1 class="title">{{ __('Log in') }}</h1>
<p>{{ __('Your account is no longer active because you are currently neither a member nor a contributor of Cover. Do you want to become one (again), or do you want your access to the site reinstated for other purposes? Contact the secretary, %s (secretary@svcover.nl).')|format(secretary|full_name) }}</p>
{% endblock %}
