{% extends '@layout/layout.html.twig' %}

{% block title __('Forgot your password?') ~ ' – ' ~ parent() %}

{% block content %}
<h1 class="title">{{ __('Forgot your password?') }}</h1>
<div class="content">
    <p>{{ __("If we were able to find an account for <em>%s</em>, we've send it a password reset email. Follow the instructions in the mail to confirm your request for a new password.")|format(email|e)|raw }}</p>
</div>
{% endblock %}
