{% extends '@layout/layout.html.twig' %}

{% block title __('Change password') ~ ' – ' ~ parent() %}

{% block content %}
<h1 class="title">{{ __('Change password') }}</h1>
<div class="content">
    <p>{{ __('Your password has been changed.') }}</p>
    <p><a href="{{ path('login') }}" class="button is-primary">{{ __('Log in') }}</a></p> {# Use regular path function for login url, don't want to redirect the user back here. #}
</div>
{% endblock %}
