<!DOCTYPE html>
<html>
<body>
<p>Hey,</p>

<p>
    <a href="{{ url('profile.member', {member_id: member.id})}}">{{ member.full_name }}</a>
    indicated that they want to join the following Committees:
</p>

<p>Just so you know ;)</p>

<p>Kind regards,<br>the Website</p>

</body>
</html>