<!DOCTYPE html>
<html>
<body>
<p>Hey,</p>

<p>An admin deleted your profile picture for the following reason:</p>
<p>{{ reason }}</p>

<p>Kind Regards (we're just the messenger),<br>the Website</p>

</body>
</html>
