.career
    .vacancies-section
        background: $footer-main-background-color
    a.partner-profile
        display: block
        outline: 0px solid $cover-red
        transition: outline-width .125s ease-in
        padding: $column-gap
        .image
            img
                object-fit: contain
        &:hover,
        &:focus
            outline: 4px solid $cover-red
