{% extends '@layout/layout.html.twig' %}

{% block content %}
<div class="modal is-static">
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">{% block entry_form_title %}{% endblock %}</p>
        </header>
        <section class="modal-card-body">
            {% block entry_form_header %}{% endblock %}
            {% block entry_form_form %}{% endblock %}
        </section>
        <footer class="modal-card-foot">
            {% block entry_form_buttons %}{% endblock %}
        </footer>
    </div>
</div>
{% endblock %}
