{% extends 'tab.twig' %}

{% set active_tab = 'incassomatic' %}

{% block tab_content %}
<article>
    <h2 class="title is-4">{{ __('Incass-o-matic') }}</h2>
    <p>{{ __('Sorry, Incass-o-matic cannot be reached at this moment.') }}</p>
</article>
{% endblock %}