{% extends 'tab.twig' %}

{% set active_tab = 'kast' %}

{% block tab_content %}
<article>
    <h2 class="title is-4">{{ __('KAST') }}</h2>
    <p>{{ __('Our apologies, we can\'t fetch the KAST purchase history at this moment.') }}</p>
</article>
{% endblock %}